@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --mainWhite: #ffffff;
  --mainBlack: #141414;
  --mainGrey: #e2eaea;
  --mainDarkGrey: #333333;
  --mainPink: #f65fa7;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

.text-title {
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlack) !important;
}
